---
import Layout from '../layouts/Layout.astro';
import Github from '../assets/github.svg';
import Logo from '../assets/netshop-light.svg';
import Linkedin from '../assets/linkedin.svg';
---

<Layout title="Netshop API">
	<nav>
		<div>
			<div>
				<a href="/" aria-label="Enlace a Inicio"><img class="logoNav" src={Logo.src} alt="Logo de NetShop"/></a>
				<a href="/docs" aria-label="Enlace a documentación de la API">Documentación</a>
				<a href="https://netshopuy.vercel.app/" target="_blank" aria-label="Enlace a ecommerce NetShop">Página de ejemplo</a>
			</div>
			<div>
				<a href="/linkagithub" aria-label="Enlace a repositorio en GitHub"><img class="redesNav" src={Github.src} alt="Logo de GitHub"/></a>
				<a href="https://www.linkedin.com/in/facu-hernandez/" aria-label="Enlace a LinkedIn"><img class="redesNav" src={Linkedin.src} alt="Logo de LinkedIn"/></a>
			</div>
		</div>
	</nav>
	<main>
		<div>
			<div>
				<h1>NetShop API</h1>
				<p>Api de productos computacionales.</p>
			</div>
			<div>
				<img class="logoMain" src={Logo.src} alt="Logo de NetShop"/>
			</div>
		</div>
	</main>
</Layout>

<style>
	nav {
		background-color: #0a0606; /* 0b0d11 */
		position: sticky;
		display: flex;
		justify-content: center;
		height: 80px;
	}

	nav div {
		display: flex;
		align-items: center;
	}

	nav > div {
		justify-content: space-between;
		width: 60%;
	}

	nav > div div:nth-child(1) {
		gap: 40px;
	}

	nav > div div:nth-child(2) {
		gap: 20px;
	}

	a {
		color: rgb(219, 201, 201); /* rgb(201, 202, 219) */
		font-size: 1.1rem;
		text-decoration: none;
		transition: .2s;
	}

	a:hover {
		color: rgb(143, 120, 120); /* rgb(120, 122, 143) */
	}

	.logoNav {
		width: 60px;
	}

	img.redesNav {
		width: 30px;
		transition: .2s;
	}

	img.redesNav:hover {
		opacity: 0.7;
	}

	main {
		display: flex;
		justify-content: center;
		margin-top: 100px;
	}

	main > div {
		display: flex;
		justify-content: space-between;
		width: 50%;
	}

	main h1 {
		background: linear-gradient(
			45deg,
			rgb(150, 0, 0),
			white 80%
		);
		-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
		font-size: 4.3rem;
		margin-bottom: 20px;
	}

	main p {
		font-size: 1.5rem;
		margin: 0;
		color: rgb(206, 206, 206);
	}

	.logoMain {
		width: 400px;
	}
</style>