---
import Fetching from '../fetching/fetching.astro';
import Logo from '../assets/netshop-light.svg';
---

<main>
    <div class="flex justify-center">
        <div class="flex justify-between items-center">
            <div class="text-center">
                <h1>NetShop API</h1>
                <p>Acceda a una variedad de productos computacionales para su tienda de Ecommerce.</p>
                <div class="flex gap-5 mt-10 justify-center">
                    <a class="docs-btn btn" href="/document">Documentación</a>
                    <a class="products-btn btn" href="/api/products">Ver Productos</a>
                </div>
            </div>
            <div>
                <img class="logoMain" src={Logo.src} alt="Logo de NetShop"/>
            </div>
        </div>
    </div>
    <Fetching />
</main>

<style>

	main {
		margin-top: 100px;
	}

	main > div {
		width: 960px;
		margin: auto;
	}

	main h1 {
		background: linear-gradient(
			45deg,
			rgb(150, 0, 0),
			white 80%
		);
		-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
		font-size: 4.3rem;
		font-weight: bold;
		margin-bottom: 20px;
	}

	main p {
		font-size: 1.5rem;
		margin: 0;
		color: rgb(206, 206, 206);
	}

	.btn {
		background-color: #0a0606;
		padding: 20px;
		border: 1px solid gray;
		border-radius: 30px;
	}

	.btn:hover {
		background-color: #c66969;
	}

	@media (max-width: 1200px) {
		main > div {
			width: 80vw;
		}
	}
</style>