---
import Logo from '../assets/netshop-light.svg';
import Github from '../assets/github.svg';
import Linkedin from '../assets/linkedin.svg';
---
<nav class="flex justify-center">
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-10">
            <a href="/" aria-label="Enlace a Inicio"><img class="logoNav" src={Logo.src} alt="Logo de NetShop"/></a>
            <a class="links" href="/document" aria-label="Enlace a documentación de la API">Documentación</a>
            <a class="links" href="https://netshopuy.vercel.app/" target="_blank" aria-label="Enlace a ecommerce NetShop">Página de ejemplo</a>
        </div>
        <div class="flex items-center gap-5">
            <a href="https://github.com/facuhdezz/fakestore-api" target="_blank" aria-label="Enlace a repositorio en GitHub"><img class="redesNav" src={Github.src} alt="Logo de GitHub"/></a>
            <a href="https://www.linkedin.com/in/facu-hernandez/" target="_blank" aria-label="Enlace a LinkedIn"><img class="redesNav" src={Linkedin.src} alt="Logo de LinkedIn"/></a>
        </div>
    </div>
</nav>

<style>
	
	nav {
		background-color: #0a0000; /* 0b0d11 */
		position: fixed;
		top: 0;
		width: 100%;
		height: 80px;
		z-index: 1;
	}

	nav > div {
		width: 60%;
	}

	nav a:hover {
		color: rgb(143, 120, 120); /* rgb(120, 122, 143) */
	}

	.logoNav {
		width: 60px;
	}

	img.redesNav {
		width: 30px;
		transition: .2s;
	}

	img.redesNav:hover {
		opacity: 0.7;
	}

	@media (max-width: 850px) {
		.links {
			display: none;
		}
	}
    </style>