---
const { title, url, json, id } = Astro.props;
---
<hr id={id}class="border-gray-500">
<article>
    <h1>{title}</h1>
    <p>Request:</p>                 
    <div class="w-full my-5 p-5 border dark:border-gray-700 rounded-lg title">
        <p class="destacadosURL"><span>[GET]</span>  {url}</p>
    </div>
    <p class="preDiv">Response:</p>                 
    <div class="w-full mt-5 p-5 border dark:border-gray-700 rounded-lg title preDiv">
        <pre>{json}</pre>
    </div>
</article>

<style>
    p {
        margin-left: 10px;
        color: rgb(159, 159, 159);
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    h1 {        
        font-size: 4rem;
        color: white;
    }

    h3 {
        font-size: 2rem;
        color: white;
    }

    .destacadosURL {
        color: rgb(179, 179, 179);
        font-size: 1.25rem;
    }

    .destacadosURL span {
        margin-right: 10px;
        color: white;
        font-weight: bold;
    }
    
    .title {
        background-color: rgb(24, 23, 23);
    }

    .title p {
        margin: 0;
    }

    pre {
        font-size: 0.5rem;
    }
</style>